@font-face {
  font-family: toy_font_large;
  src: url(./fonts/AGENTRED.TTF);
}
@font-face {
  font-family: toy_font;
  src: url(./fonts/PeaceSansWebfont.ttf);
}
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: toy_font, serif;
  font-size: 1em;
  color: rgb(1, 61, 123);
}
@media (min-width: 1215px) {
  body {
    background-color: rgb(117, 192, 224);
    background-image: url("./imgs/toy_story_wall4K.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: bottom;
    background-origin: initial;
    background-size: cover;
  }
}
@media ((min-width: 655px) and (max-width: 1214px)) {
  body {
    background-color: rgb(117, 192, 224);
    background-image: url("./imgs/toy_story_wallHD.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: bottom;
    background-origin: initial;
    background-size: cover;
  }
}
@media (max-width: 654px) {
  body {
    background-color: rgb(117, 192, 224);
    background-image: url("./imgs/toy_story_wallHD.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: bottom;
    background-origin: initial;
    background-size: cover;
  }
}

#root {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: inline-flex;
  margin-bottom: 10px;
  width: 100%;
  height: 2em;
  font-family: toy_font_large, serif;
  font-size: 1em;
  color: rgb(1, 61, 123);
  background-color: rgb(247, 212, 68);
}
@media (min-width: 1215px) {
  header .header__logo {
    display: flex;
    flex-wrap: revert;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  header .header__logo div {
    width: auto;
    height: auto;
    padding: 0 2% 0 2%;
    margin: 0;
  }
  header .header__logo div p {
    margin: 0 0 0 0;
  }
}
@media ((min-width: 655px) and (max-width: 1214px)) {
  header .header__logo {
    display: none;
  }
}
@media (max-width: 654px) {
  header {
    flex-wrap: wrap;
    height: auto;
  }
  header .header__logo {
    display: none;
  }
}
header p {
  margin: 0;
  padding: 0.1em 1em 0;
}
header img {
  height: 100%;
  padding: 0 2% 0 2%;
}

.content_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: transparent;
}
.content_wrapper .panel_wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2% 1% 2% 1%;
}
.content_wrapper .panel_wrapper p {
  margin: 0;
  text-align: center;
}
.content_wrapper .panel_wrapper .display_wrapper {
  background-color: transparent;
}
.content_wrapper .panel_wrapper .display_wrapper svg {
  margin-bottom: 20px;
  width: 20em;
  height: 20em;
  background: url("./imgs/custom.png") no-repeat;
  background-size: 100%;
}
.content_wrapper .panel_wrapper .Block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1215px) {
  .content_wrapper .panel_wrapper {
    font-family: toy_font, serif;
    font-size: 30px;
    color: rgb(1, 61, 123);
  }
  .content_wrapper .panel_wrapper .display {
    display: flex;
    justify-content: center;
  }
  .content_wrapper .panel_wrapper .display svg {
    max-width: 400px;
    max-height: 400px;
  }
  .content_wrapper .panel_wrapper .Block {
    flex-direction: row;
    flex-wrap: inherit;
    justify-content: left;
  }
  .content_wrapper .panel_wrapper .Block input {
    width: 192px;
    max-width: 184px;
    margin-bottom: 2px;
    font-size: 1em;
    border: 6px solid linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
    border: 6px solid rgb(1, 61, 123);
    border-image: linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
  }
  .content_wrapper .panel_wrapper .buttons {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
  }
}
@media ((min-width: 655px) and (max-width: 1214px)) {
  .content_wrapper .panel_wrapper {
    width: 100%;
    padding: 5% 0 5% 0;
  }
  .content_wrapper .panel_wrapper .display {
    display: flex;
    justify-content: center;
  }
  .content_wrapper .panel_wrapper .Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content_wrapper .panel_wrapper .Block input {
    max-width: 90vw;
    margin-bottom: 2px;
    font-size: 1.5em;
    border: 6px solid linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
    border: 6px solid rgb(1, 61, 123);
    border-image: linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
  }
  .content_wrapper .panel_wrapper .buttons {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 654px) {
  .content_wrapper .panel_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .content_wrapper .panel_wrapper .display {
    position: relative;
  }
  .content_wrapper .panel_wrapper .display svg {
    max-width: 100%;
    height: auto;
  }
}
.content_wrapper .panel_wrapper .Block {
  display: flex;
  justify-content: space-between;
}
.content_wrapper .panel_wrapper .Block input {
  max-width: 92vw;
  margin-bottom: 2px;
  font-size: 30px;
  border: 6px solid linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
  border: 6px solid rgb(1, 61, 123);
  border-image: linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
}
.content_wrapper .panel_wrapper .buttons:first-child {
  left: 0;
}
.content_wrapper .panel_wrapper .buttons:last-child {
  right: 0;
}
@media ((min-width: 655px) and (max-width: 1214px)) {
  .content_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: toy_font, serif;
    font-size: 30px;
    color: rgb(1, 61, 123);
  }
}
@media (max-width: 654px) {
  .content_wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: toy_font, serif;
    font-size: 30px;
    color: rgb(1, 61, 123);
  }
}
.content_wrapper .datatable {
  position: relative;
  display: block;
}
.content_wrapper .datatable button {
  margin: 0 auto;
}
.content_wrapper .datatable table thead {
  font-family: toy_font_large, serif;
  font-size: 20px;
  color: rgb(1, 61, 123);
}
@media (max-width: 654px) {
  .content_wrapper .datatable {
    font-family: toy_font, serif;
    font-size: 20px;
    color: rgb(1, 61, 123);
  }
}
.content_wrapper .auth_form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30vh;
}
@media (min-width: 1215px) {
  .content_wrapper .auth_form {
    font-family: toy_font, serif;
    font-size: 30px;
    color: rgb(1, 61, 123);
  }
}
.content_wrapper .auth_form .log_div, .content_wrapper .auth_form .pass_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
@media (min-width: 1215px) {
  .content_wrapper .auth_form .log_div input, .content_wrapper .auth_form .pass_div input {
    font-family: toy_font, serif;
    font-size: 30px;
    color: rgb(1, 61, 123);
  }
}
@media ((min-width: 655px) and (max-width: 1214px)) {
  .content_wrapper .auth_form .log_div input, .content_wrapper .auth_form .pass_div input {
    font-family: toy_font, serif;
    font-size: 30px;
    color: rgb(1, 61, 123);
  }
}
@media (max-width: 654px) {
  .content_wrapper .auth_form .log_div input, .content_wrapper .auth_form .pass_div input {
    font-family: toy_font, serif;
    font-size: 20px;
    color: rgb(1, 61, 123);
    max-width: 90vw;
  }
}
.content_wrapper .auth_form button {
  margin-bottom: 0.5em;
}

input, select {
  background-color: rgb(247, 212, 68);
  font-size: 15px;
  font-family: toy_font, serif;
  color: rgb(1, 61, 123);
  border: 4px solid linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
  border: 4px solid rgb(1, 61, 123);
  border-image: linear-gradient(45deg, rgb(1, 61, 123), rgb(0, 255, 215)) 1;
}

button {
  border: 4px solid rgb(247, 212, 68);
  font-family: toy_font, serif;
  font-size: 30px;
  color: rgb(247, 212, 68);
  background-color: rgb(196, 36, 48);
}
button .btn:active {
  transform: translateY(4px);
  /* Moving button 4px to y-axis */
}

/*# sourceMappingURL=adaptive.css.map */
