header{
  display: inline;
  position: sticky;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  float: left;
  div{
    position: relative;
    display: inline-block;
    margin: 0 2%;
    height: 10px;
    width: auto;
  }
  img{
    width: 100px;
    height: auto;
    margin: 0 10px
  }
}

div{
  display: inline-block;
}

.display{
  margin: 10px;
  width: 200px;
  height: 200px;
  svg{
    .axis_line{
      stroke: #000000;
      stroke-width: 1%;
      stroke-linecap: butt;
    }

    .point{
      stroke: white;
      .point_hit{
        //stroke: #00abdf;
        fill: #0023c7;
      }
      .point_missed{
        //stroke: #b40000;
        fill: #b40000;
      }
    }
  }
}

// here toy story starts
//src
$toy_img_wall4K: url("./imgs/toy_story_wall4K.jpg");
$toy_img_wall: url("./imgs/toy_story_wallHD.jpg");
$toy_img_footer: url("./imgs/toy_story_floor.jpg") center 100% no-repeat;
//fonts
@font-face {
  font-family: toy_font_large;
  src: url(./fonts/AGENTRED.TTF);
}
@font-face {
  font-family: toy_font;
  src: url(./fonts/PeaceSansWebfont.ttf);
}
//colors
$color_toy_blue: rgb(117, 192, 224);
$color_toy_red: rgb(196, 36, 48);
$color_toy_yellow: rgb(247, 212, 68);
$color_toy_deep_blue: rgb(1, 61, 123);
$gradient_toy_blue: linear-gradient(-45deg, $color_toy_deep_blue, rgb(16, 96, 170)  ) 1;
//params

$block_padding: 5px;
$block_margin: 5px;
@mixin toy_border_blue{
  border: 4px solid $color_toy_deep_blue;
  border-image: $gradient_toy_blue;
}
@mixin background_wall{
  background-color: $color_toy_blue;
  background-image: $toy_img_wall;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: bottom;
  background-origin: initial;
  background-size: cover;
}
@mixin set_font($font_name: toy_font, $color: $color_toy_deep_blue){
  text-align: center;
  font-family: $font_name, serif;
  font-size: 20px;
  color: $color;
}


body{

  //flex-direction: column;
  //params
  height: 100%;
  margin: 0;
  padding: 0;
  place-items: center;
  // background
  @include background_wall;
  // font
  @include set_font(toy_font_large, $color_toy_deep_blue);
}

button{
  margin: 20px;
  cursor:pointer;
  user-select:none;
  background-color: $color_toy_red; /* Red */
  border: none;
  color: $color_toy_yellow;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  @include set_font($color: $color_toy_yellow);
  .button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }

  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }

  .button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }

  .button:active {
    top: 1px;
  }

}



input, select {
  background-color: $color_toy_yellow;
  font-size: 15px;
  font-family: toy_font, serif;
  color: $color_toy_deep_blue;
}

.Content{
  place-items: center;
  width: auto;
  min-height: auto;
  height: auto;
  flex: 1;
}

.Wrapper{
  place-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 100vh;
}

.Logo{
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
}

.Block{
  place-items: normal;
  @include toy_border_blue;
  position: relative;
  background-color: $color_toy_yellow;
  width: auto;
  height: auto;
}

.Footer{
  width: 100%;
  min-height: 100px;
  background: $toy_img_footer;
  background-size: cover;
}

#graffiti{
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  max-width: 40px;
  width: 40px;
  height: 40px;
}

#game_block {
  position: relative;
  margin-top: 30px;
  padding: $block_padding;
  div{
    position: relative;
    margin: $block_margin;
    padding: $block_padding;
    height: 100%;
  }
  overflow: hidden;
}



.panel{

  margin: 20px;
  float: left;
  box-shadow: none;
  border-radius: 20px 20px 20px 20px;
  transition: 0.5s;
  .Image{
    border-radius: 20px 20px 20px 20px;
  }
  width: 200px;
  height: 200px;
  svg {
    .axis_line {
      stroke: #000000;
      stroke-width: 1%;
      stroke-linecap: butt;
    }
  }

  background-color: #eeeeee;
  .Image{
    border-radius: 20px 20px 20px 20px;
  }
}
.panel:hover {
  box-shadow: 0 0 20px 5px #1c96f4;
}

#param_block{
  float: right;
  background-color: $color_toy_deep_blue;
  border-color: transparent;
  border-image: none;
  @include set_font(toy_font, $color_toy_yellow);
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    .xerContainer{
      display: inline;
      margin-left: 2px;
      margin-right: 2px;
    }
    li{
      margin-top: 15px;
      padding: 0;
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}